body {
    background-color: #EEE;
}

header {
    color: #EEE;
    background: linear-gradient(#2EB0FF, dodgerblue);
    text-align: center;
}

/* Main heading */
header h1 a {
    color: #FFF;
}
header h1 a:focus,
header h1 a:hover {
    color: #DDD;
}

/* Navigation menu */
header nav {
    background-color: dodgerblue;
    border-bottom: 2px solid dodgerblue; /* remains when background-color is changed by :hover/:focus */
}
header nav a {
    color: #fff;
}
header nav a:focus,
header nav a:hover {
    color: dodgerblue;
    background-color: #EEEEEE;
}

main div.callout {
    margin-top: 20px;
    text-align: center;
}

main .event {
    border: 1px dashed #DDDDDD;
    margin-bottom: 10px;
}

main fieldset.fieldset legend {
    background-color: transparent;
}

footer {
    border-top: 1px solid #DDD;
    text-align: center;
}
