body {
    background-color: #EEE;
}

header {
    color: #EEE;
    background: linear-gradient(#2EB0FF, dodgerblue);
    text-align: center;
}

/* Site heading */
header h1 a {
    color: #FFF;
}
header h1 a:focus,
header h1 a:hover {
    color: #DDD;
}

/* Navigation menu */
header nav {
    background-color: dodgerblue;
    border-bottom: 3px solid dodgerblue; /* remains when background-color is changed by :hover/:focus */
}
header nav .menu {
    background-color: #2EB0FF;
}
header nav .menu a {
    color: #fff;
}
header nav .menu a:focus,
header nav .menu a:hover {
    color: dodgerblue;
    background-color: #EEEEEE;
}

/* Page heading */
header h2 {
    margin-top: 30px;
}

main div.callout {
    margin-top: 20px;
    text-align: center;
}

main .event-sect {
    border: 1px dashed dodgerblue;
    margin-bottom: 10px;
    padding: 10px;
}

main .event-time {
    font-style: italic;
    padding-left: 20px;
}

main .event-desc {
    margin-top: 10px;
    text-indent: hanging;
}

main fieldset.fieldset legend {
    background-color: transparent;
}

main img#quad {
    float: right;
    height: 250px;
    width: 200px;
}

/* Footer */
footer {
    border-top: 1px solid #CCC;
    font-size: smaller;
    font-style: italic;
    text-align: center;
}
