{% extends "base.html" %}
{% block title %}Modifying Event "{{ event.title }}"{% endblock %}
{% block content %}
    <h2>{{ event.title }}</h2>

    <form method="post">
        <fieldset class="fieldset">
            <legend>Modify this Event ({{ event.id }})</legend>

            <label>
                Title
                <input name="title" type="text" required="required" value="{{ event.title }}">
            </label>
            <label>
                Description
                <textarea name="description" type="text" rows="5" required="required">{{ event.description }}</textarea>
            </label>
            <label>
                Date and Time
                <input name="time" type="datetime-local" required="required" value="{{ time }}">
            </label>
            <button type="submit" class="button expanded">Add Event</button>
        </fieldset>
    </form>
{% endblock %}
