{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block content %}
    <h2>Events</h2>

    <form method="get">
        <fieldset class="fieldset">
            <legend>Filter</legend>

            <label>
                Events before
                <input name="before" type="datetime-local">
            </label>
            <label>
                Events after
                <input name="after" type="datetime-local">
            </label>

            <button class="button expanded" type="submit">Apply</button>
        </fieldset>
    </form>

    {% for event in events %}
        <section class="event-sect">
            <h3>{{ event.title }}</h3>
            <a style="float: right" href="/events/{{ event.id }}">Edit</a>
            <div class="event-time">{{ event.time }}</div>
            <div class="event-desc">{{ event.description }}</div>
        </section>
    {% endfor %}
{% endblock %}
