<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Stephen James">
    <meta name="description" content="UBinE">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="static/css/foundation.css">
</head>
<body>
    <header>
        <h1>UBinE</h1>
        <nav></nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        Footer
    </footer>
    <script src="static/js/vendor/jquery.min.js"></script>
    <script src="static/js/vendor/what-input.min.js"></script>
    <script src="static/js/foundation.min.js"></script>
    <script type="text/javascript">
        $(document).foundation();
    </script>
</body>
</html>
</title>
</head>
<body>

</body>
</html>