{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="row">
        <section class="small-12 medium-6 columns text-center">
            <h3 class="invisible">Events</h3>
            What is happenning in the Ellicott Complex?
            <br>
            <a href="events" class="button">See events</a>
        </section>
        <section class="small-12 medium-6 columns text-center">
            <h3 class="invisible">Rooms</h3>
            Trying to find a room in the Ellicott Complex?
            <br>
            <a href="rooms" class="button">Find rooms</a>
        </section>
    </div>
{% endblock %}
